# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Large database archives
TREAST_BAND_WEBSITE_DATABASE.zip
TREAST_BAND_WEBSITE_DATABASE_V2.zip
